{% extends 'layout.html' %}

{% block title %} Duck Duck Go Simple API {%endblock%}

{% block content %}

<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <h3 class="text-primary text-center">
        <img id="ddgLogo" src="/images/ddg-logo-tall.png"/>Simple Duck Duck Go Search Query
      </h3>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-6 column">
      <form class="form-horizontal">
        <div class="form-group">
           <label for="searchQuery" class="col-sm-2 control-label searchQUery">Search Query</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="searchQuery" name="searchQuery"/>
          </div>
        </div>
        <div class="form-group">
          <button id="submit" class="btn button ">JSON Result</button>
          <button id="scrape" class="btn button">Scrape Result</button>
        </div>
      </form>
    </div>
    <div class="col-md-6 column queryResult">
        <p id ="json">
        </p>
    </div>
  </div>
</div>
{% endblock %}

{% block bottomscript%}
<script>



  $(function(){



    //on submit click
    $('#submit').click(function(e){
        e.preventDefault();
        console.log('submit clicked');
          //value to post
          var searchQuery = $("#searchQuery").val();
          //data to post to /search
          var data = {};
          data.title = "title";
          data.message = "message";
          if(searchQuery){
            data.searchQuery = searchQuery;
          } else {
            data.searchQuery  = ''; }

        //ajax request
        $.ajax({
          type: 'POST',
          data: JSON.stringify(data),
          contentType: 'application/json',
          url: 'http://localhost:3000/search',
          //on success change #json innerhtml
          success: function(data) {
            console.log('success');
            var queryResult = data.searchResult;
            console.log("data: ",data)
            var prettyData = JSON.parse(queryResult)
            console.log("prettyData:", prettyData);
            document.getElementById("json").innerHTML = JSON.stringify(prettyData.RelatedTopics, null, "\n");
            }
          });
        });

      //on scrape click
      $('#scrape').on('click', function(e){
        e.preventDefault();
        console.log("scrape button clicked");

         var searchQuery = $("#searchQuery").val();
          //data to post to /scrape
          var data = {};
          data.title = "title";
          data.message = "message";
          if(searchQuery){
            data.searchQuery = searchQuery;
          } else {
            data.searchQuery  = ''; }

        //ajax request
        $.ajax({
          type: 'POST',
          data: JSON.stringify(data),
          contentType: 'application/json',
          url: 'http://localhost:3000/scrape',
          //on success change #json innerhtml
          success: function(data) {
            console.log('success');
            var queryResult = data;
            console.log("data:", data);
            document.getElementById("json").innerHTML = queryResult.scrapeResultTitles;
            }
          });
        });

      });


</script>
{% endblock %}
