{% extends 'layout.html' %}

{% block title %} Duck Duck Go Simple API {%endblock%}

{% block content %}

<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <h3 class="text-primary text-center">
        <img id="ddgLogo" src="/images/ddg-logo-tall.png"/>Simple Duck Duck Go Search Query
      </h3>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-6 column">
      <form class="form-horizontal">
        <div class="form-group">
           <label for="searchQuery" class="col-sm-2 control-label searchQUery">Search Query</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="searchQuery" name="searchQuery"/>
          </div>
        </div>
        <div class="form-group">
          <button id="submit" class="btn button ">SearchJSON</button>
          <button id="scrape" class="btn button">SearchTopicSummaries</button>
        </div>
      </form>
    </div>
    <div class="col-md-6 column queryResult">

        {% if searchResult%}
        <pre id ="json">
          {{searchResult}}
        </pre>
        {%endif%}


    </div>
  </div>
</div>
{% endblock %}

{% block bottomscript%}
<script>


//ajax post for JSON request
  $(function(){
    $('#submit').click(function(e){
        e.preventDefault();
        console.log('submit clicked');

    var searchQuery = $("#searchQuery").val();
    console.log("searchQuery:", searchQuery);

    var data = {};
    data.title = "title";
    data.message = "message";
    data.searchQuery = searchQuery;

    $.ajax({
    type: 'POST',
    data: JSON.stringify(data),
        contentType: 'application/json',
        url: 'http://localhost:3000/search',
        success: function(data) {
            console.log('success');
            console.log(JSON.stringify(data));
            }
        });
      });
    });

  // var searchResult = {{searchResult | json }}
  // console.log(searchResult);

  // document.getElementById("json").innerHTML = {{searchResult | json | safe}};


</script>
{% endblock %}
