body {
  padding: 50px;
  font-size: 14px;
  font-family: 'Lato', sans-serif !important;
}

a {
  color: #00B7FF;
}

#ddgLogo{
  height: 50px;
  width: 70px;
}


#searchQuery {
  margin-top:  10px;
}

.queryResult {
  border: 1px solid green;
  height: 400px;
}

.queryResult p{
  padding: 10px 10px 10px 10px;
  height: 390px;
  overflow: hidden;
  overflow-y: scroll;
}

#submit {
  margin-left: 100px;
}
