body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#ddgLogo{
  height: 20px;
  width: 20px;
}


.searchQuery{

}

#searchQuery {
  margin-top:  10px;
}

.queryResult {
  border: 1px solid green;
  height: 400px;
}

.queryResult pre{

  padding: 10px 10px 10px 10px;
  overflow: hidden;
  overflow-y: scroll;
}
