body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.searchQuery{

}

#searchQuery {
  margin-top:  10px;
}

.queryResult {
  border: 1px solid green;
}

.queryResult pre{
  height: 400px;
  padding: 10px 10px 10px 10px;
  overflow: hidden;
  overflow-y: scroll;
}
